*{
  padding: 0;
  margin: 0;
}
.navbar{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
.navbar-collapse{
  .navbar-nav{


    a{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
        margin-left: 20px;
      color: #201F1E;

    }
    a:nth-child(3){
      margin-left: 100px!important;

    }
.nav-item:nth-child(4){
  margin-left: 150px;
}
  }
  .s-b{

    width: 143px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    border: 1px solid #666666;
    box-sizing: border-box;
  }
}
}
@media screen and (max-width: 576px){
  .navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
.active{
  width: 50%;
}
    .navbar-collapse{
      width: 100%;
      background-color: #201F1E;
      .navbar-nav{

 .nav-item{
   width: 100%;
   height: 50px;
   border-radius: 10px;
   background: white;
   display: flex;
   align-items: center;
   justify-content:center;
   margin-top: 10px;
   a{
     font-style: normal;
     font-size: 16px;
     line-height: 19px;
     color: rgba(10, 127, 46, 0.6);
   display: flex;
     justify-content: center;
     z-index: 12;
     font-weight: bold;


   }

 }
        .nav-item:nth-child(4){
          margin-left: 0;
        }

      }
      .s-b{
  z-index: 12;
        width: 100%;
        height: 50px;
        background-color: white ;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        color:rgba(10, 127, 46, 0.6);
        font-weight: bold;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin-top: 10px;
        box-sizing: border-box;
      }
    }
  }
}