* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.xizmat-C {
  display: flex;
  margin-top: 50px;
img{
  width: 11px;
  height: 50px;
}
  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-left: 15px;
    color: #0A7F2E;
  }
}
.xizmat-body{
  .card-P{
    width: 100%;
    height: 333px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    .card-img{
      padding-top: 20px;
      margin-left: 20px;
      height: 100px;
    }
    .card-img:nth-child(1){
      margin-top: 20px!important;
    }
    .card-text{
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      height: 100px;
      line-height: 50px;
   margin-left: 20px;
      margin-top: 20px;
      color: #201F1E;
    }
    .card-img2{
      margin-top: 20px;
      margin-left: 150px;
    }
  }
}